package views

import "github.com/xV0lk/zibutatu/models"

import (
	l "github.com/xV0lk/zibutatu/views/home/login"
	"github.com/xV0lk/zibutatu/views"
	)

templ HomeLogin(){
	@views.Index(){
			@l.Login()
	}
}

templ HomeUser(data []*models.Appointment) {
	@views.Index(){
		@UserPage(data)
	}
}

templ HomePasswordReset(email string) {
	@views.Index(){
		@l.PwReset(email)
	}
}

templ HomePasswordResetDone(token string) {
	@views.Index(){
		@l.ResetPassword(token)
	}
}