package views

import "github.com/xV0lk/htmx-go/types"

import (
	l "github.com/xV0lk/htmx-go/views/home/login"
	"github.com/xV0lk/htmx-go/views"
	)

templ HomeLogin(){
	@views.Index(){
			@l.Login()
	}
}

templ HomeUser(data []*types.Appointment) {
	@views.Index(){
		@UserPage(data)
	}
}

templ HomePasswordReset(email string) {
	@views.Index(){
		@l.PwReset(email)
	}
}