keyframes fade-in {
	from { opacity: 0; }
}

@keyframes fade-out {
	to { opacity: 0; }
}

@keyframes slide-from-right {
	from { transform: translateX(90px); }
}

@keyframes slide-to-left {
	to { transform: translateX(-90px); }
}

::view-transition-old(slide-it) {
	animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
	600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
	animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
	600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.slide-in {
	view-transition-name: slide-it;
}

@keyframes grow {
	from { height: 0; }
}
	
@keyframes fall {
	from { transform: translateY(-200px); }
}

::view-transition-new(grow-it) {
	animation: 420ms ease-in both  grow,
	500ms cubic-bezier(0.4, 0, 0.2, 1) both fall;
}

.grow-in{
	view-transition-name: grow-it;
}